# Firebase Config — Fill in with your Firebase project values
VITE_FIREBASE_API_KEY=AIzaSyAZeSB045KZk6RhQawGmGYesy2EodtgGvg
VITE_FIREBASE_AUTH_DOMAIN=faceys-rentals-catering-prod.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=faceys-rentals-catering-prod
VITE_FIREBASE_STORAGE_BUCKET=faceys-rentals-catering-prod.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=660273786597
VITE_FIREBASE_APP_ID=1:1:660273786597:web:58519c78b3223716a86e0c
